@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Playfair+Display:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

img {
    max-width: 100%;
  }
 
.thankyou{
    background: url('../images/background.svg');
     background-size: cover;
     padding-top: 198px;
     background-repeat: no-repeat;

}
.Thankbtn {
    color: #fff;
    background-color:#632C91 !important ;
    border-color: #632C91 !important;
 
}
.btn.btn-primary.Thankbtn.thankbtnapple {
    padding: 16px 66px;
}
a.btn.btn-primary.Thankbtn {
    border-radius: 48px;
    padding: 16px 57px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-style: Medium;
    text-transform: capitalize;
    font-weight: 400;
}
.thankyou-btn a{
    margin-left: 35px;
}
.thankyou-btn img {
    margin-right: 5px;
}
.thankyhead3{
    color: #4F4F4F;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 27px;
   
}
.thankyhead1 {
    font-family: 'Playfair Display', serif;
    font-size: 104px;
    color: #000;
}
.thankyhead2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.next-sec-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color:#F2994A;
    
}
.thank-text{
    text-decoration: none;
}
.thankyou-btn {
    margin-bottom: 98px;
}

/* slider section */

section.events-section {
    margin-top: 59px;
}


.card-img-overlay {
    top: unset !important;
    color: #fff;
}
.card-title {
    font-size: 16px;
    display: inline;
}
h4.card-title.left-date {
    /* margin-right: 41px; */
    margin-left: 47px;
}
p.card-text {
    font-size: 14px;
}
@media screen and (max-width: 800px) {
    a.btn.btn-primary.Thankbtn {
   
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 350px) {
    a.btn.btn-primary.Thankbtn {
    
        font-size: 15px;
}
.thankyou-btn a {
    margin-left: 0px;
}
.next-sec-title {
    font-size: 15px;
}
.thankyhead1 {
    font-family: 'Playfair Display', serif;
    font-size: 62px;
}
}
@media screen and (max-width: 500px) {
    .thankyhead1 {
    
        font-size: 62px;
    }
    .thankyhead2 {
       
        font-size: 21px;
}

.thankyou {
  
    padding-top: 93px;
}
}
@media screen and (max-width: 300px) {
    a.btn.btn-primary.Thankbtn {
        padding: 11px 33px;
        font-size: 12px;
}
.thankyhead1 {
  
    font-size: 46px;
}
.thankyhead2 {
    
    font-size: 12px;
}
.thankyhead3 {
  
    font-size: 12px;

}
.btn.btn-primary.Thankbtn.thankbtnapple {
    padding: 11px 40px;
}
}
@media screen and (max-width: 250px) {
    .thankyhead1 {
        font-size: 37px !important;
    }
}





@media screen and (max-width: 1505px) {
    h4.card-title.left-date {
      
        margin-left: 38px;
    }
}

@media screen and (max-width: 1450px) {
    h4.card-title.left-date {
       
        margin-left: 31px;
    }
}


@media screen and (max-width: 1409px) {
    h4.card-title.left-date {
        margin-left: 22px;
    }
}

@media screen and (max-width: 1390px) {
    p.card-text {
        font-size: 12px;
    }
    h4.card-title.left-date {
    margin-left: 13px;
}
}


@media screen and (max-width: 1300px) {
    .card-title {
        font-size: 14px;
    }
}

@media screen and (max-width: 1190px) {
    h4.card-title.left-date {
        margin-left: 8px;
    }
    p.card-text {
        font-size: 10px;
    }
    .card-title {
        font-size: 13px;
    }
}
@media screen and (max-width: 770px) {
  
    .card-title {
        font-size: 27px !important;
    }
    p.card-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 350px) {
  
    .card-title {
        font-size: 23px !important;
    }
   
}

@media screen and (max-width: 315px) {
    h4.card-title.left-date {
        /* margin-right: 41px; */
        margin-left: 13px;
    }
    p.card-text {
        font-size: 16px;
    }
}

@media screen and (max-width: 280px) {
    .card-title {
        font-size: 19px !important;
    }
}

@media screen and (max-width: 1114px) {
  
    p.card-text.text-white {
        font-size: 9px;
    }
    .card-title {
        font-size: 11px;
    }
}

@media screen and (max-width: 1000px) {
  
    p.card-text.text-white {
        font-size: 9px;
    }
    .card-title {
        font-size: 11px;
    }
    h4.card-title.left-date {
        margin-left: 0px;
    }
}


@media screen and (max-width: 900px) {
  
   
        .card-title {
            font-size: 9px;
        }
        p.card-text {
    font-size: 7px;
}
}


/* 











@media screen and (max-width: 1450px) {
    p.card-text.text-white {
        font-size: 12px;
    }
    h4.card-title.left-date {
        margin-left: 37px;
    }
}

@media screen and (max-width: 1400px) {
  
    h4.card-title.left-date {
        margin-left: 23px;
    }
}

@media screen and (max-width: 1370px) {
  
    p.card-text.text-white {
        font-size: 11px;
    }
    .card-title {
        font-size: 13px;
    }
}

@media screen and (max-width: 1280px) {
  
    p.card-text.text-white {
        font-size: 9px;
    }
    .card-title {
        font-size: 11px;
    }
}
@media screen and (max-width: 1114px) {
  
    p.card-text.text-white {
        font-size: 9px;
    }
    .card-title {
        font-size: 11px;
    }
} */